%div.p-4.rounded-md.bg-z-blue-lightest.mt-10{
  "data-users--onboarding-target" => "step2Container",
  class: "#{ 'border border-z-blue' if !@step2_completed && @step1_completed }",
  "data-step_completed" => @step2_completed.to_s
}
  .grid.grid-cols-3.gap-4.cursor-pointer{
    "data-action" => "click->users--onboarding#handleStepClick",
    "data-step_number" => "2"
  }
    .col-start-1.col-span-4.md:col-span-2.flex
      %span.text-z-gray-lightbluish.bg-z-gray-creamybluish.rounded-full.h-7.w-7.flex.items-center.justify-center
        %svg.h-5.w-5{
          "data-users--onboarding-target" => "step2Checkmark",
          :fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg",
          class: "#{'hidden' unless @step2_completed}"
        }
          %path{:d => "M5 13l4 4L19 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
        %span{"data-users--onboarding-target" => "step2Number", class: "#{'hidden' if @step2_completed}"}
          2
      %span.ml-5.mt-1{
        "data-users--onboarding-target" => "step2Header",
        class: "#{@step2_completed ? 'text-gray-500 font-normal' : 'font-medium'}"
      }
        Customize and access your registration page
    .col-end-5.flex.invisible.md:visible
      %span.text-gray-500
        about 5 minutes
      %span.ml-2.text-gray-500.transform{
        class: "#{'rotate-90' if @step1_completed && !@step2_completed}",
        "data-users--onboarding-target" => "step2Toggler"
      }
        %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M9 5l7 7-7 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
  .container.ml-4.bg-z-blue-lightest.transition-all.transform.duration-700.overflow-hidden{
    "data-users--onboarding-target" => "step2Body",
    class: "#{!@step2_completed && @step1_completed ? 'max-h-192' : 'max-h-0'}"
  }
    .grid.grid-cols-2.gap-4.pt-10
      %div
        %p.mb-10 Your registration page is where all of your participants will be directed. It should let your participants know they have arrived at the right place.
        %p In this step, you'll customize your meeting title/topic which is the same title used as your registration page title. You'll also learn how to customize your roles so that they are a better fit for your court.
        %a.mt-2.block{ href: "/settings", target: "_blank" }
          %button.px-4.py-3.mt-12.leading-6.text-center.text-z-blue.transition.bg-white.border.border-z-blue.rounded-md.shadow.ripple.hover:shadow-lg.hover:bg-z-gray-lightest.focus:outline-none{:href => "#"}
            Customize your registration page
        %button.mt-4.mb-8.px-6.py-3.leading-6.text-center.text-white.transition.bg-z-blue.rounded-md.shadow.ripple.hover:shadow-lg.hover:bg-z-blue-light.focus:outline-none{
          "data-action" => "click->users--onboarding#completeStep",
          "data-step_number" => "2",
          "data-cy" => "complete-step-2",
          "data-users--onboarding-target" => "step2CompleteBtn",
          class: "#{'hidden' if @step2_completed}"
        }
          Complete this step
      %div.relative
        .max-w-md.w-full.float-right
          %script{:async => "", :src => "https://fast.wistia.com/embed/medias/1g8l0e8zko.jsonp"}
          %script{:async => "", :src => "https://fast.wistia.com/assets/external/E-v1.js"}
          .wistia_responsive_padding{:style => "padding:62.5% 0 0 0;position:relative;"}
            .wistia_responsive_wrapper{:style => "height:100%;left:0;position:absolute;top:0;width:100%;"}
              %span.wistia_embed.wistia_async_1g8l0e8zko{:class => "popover=true popoverAnimateThumbnail=true videoFoam=true", :style => "display:inline-block;height:100%;position:relative;width:100%"}  
